[submodule "vendor/prototype"]
	path = vendor/prototype
	url = https://github.com/sstephenson/prototype.git
[submodule "vendor/sprockets"]
	path = vendor/sprockets
	url = https://github.com/sstephenson/sprockets.git
